body
{
    background: linear-gradient(to bottom, rgb(55, 220, 77), white);
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    




.botons{
    width: 100%;
  background: #09e64f;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  cursor: pointer;
}
.seleccion{
  width: 30%;
    background: #0b5704;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #0ec81d;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}
.form-control {
    width: 90%;
    background: #0b5704;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #0ec81d;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .regisl p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .regisl a {
    color: white;
    text-decoration: none;
  }
  
  .regisl a:hover {
    color: white;
    text-decoration: underline;
  }

  .regisl {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .regisl h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }